.lyrics-list-container {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .artist-section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .lyrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
  }
  
  .lyric-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  .lyric-card-content h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .lyric-card-content p {
    margin-bottom: 10px;
  }
  
  .small-text {
    font-size: 12px;
    color: #777;
  }
  
  .view-lyrics-button {
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
  }
  
  .view-lyrics-button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  
  .view-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .view-more-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .view-more-button:hover {
    background-color: #0056b3;
  }
  