.verifiedContainer {
  display: flex;
  
  padding: 0.9px;
  border-radius: 10px;
}

.verifiedIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.verifiedText {
  font-size: 1rem;
  font-weight: 600;
  color: #474646;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .verifiedContainer {
    padding: 8px;
  }

  .verifiedText {
    font-size: 0.9rem;
  }

  .verifiedIcon svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .verifiedContainer {
    padding: 6px;
  }

  .verifiedText {
    font-size: 0.8rem;
  }

  .verifiedIcon svg {
    width: 18px;
    height: 18px;
  }
}
