.viewLyricsPage {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.breadcrumb {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.lyricsHeader {
  margin-bottom: 20px;
}

.lyricsHeader h1 {
  font-size: 2.2rem;
  color: #333;
}

.lyricsHeader p {
  font-size: 1rem;
  color: #666;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggleButton:hover {
  background-color: #218838;
}

.lyricsText {
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 5px solid #1abc9c;
  border-radius: 10px;
  white-space: pre-wrap;
  font-size: 1.1rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.musicVideo iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.socialShareButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.socialButton {
  font-size: 1.8rem;
  color: #2c3e50;
}

.socialButton:hover {
  color: #3498db;
}

.relatedLyrics {
  width: 0%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  max-height: 90vh; /* Ensure it fits within the viewport */
  overflow-y: auto; /* Allow scrolling if content exceeds max height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.relatedLyrics h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.relatedLyricsGrid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.relatedLyricItem {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.relatedLyricItem:hover {
  background-color: #f0f0f0;
  border-color: #007bff;
}

.relatedLyricIcon {
  margin-right: 10px;
  color: #1abc9c;
}

.relatedLyricInfo h4 {
  font-size: 1.1rem;
  color: #333;
}

.relatedLyricInfo p {
  font-size: 0.9rem;
  color: #777;
}

.skeletonLoader {
  margin-top: 50px;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}

@media (min-width: 900px) {
  .viewLyricsPage {
    display: flex;
    flex-direction: row;
  }

  .lyricsContent {
    flex: 3;
  }

  .relatedLyrics {
    width: 30%; /* On smaller screens, make it full width */
    position: relative; /* No sticky behavior on smaller screens */
    max-height: unset;
    overflow-y: unset;
    margin-top: 30px;
  }
}
@media (max-width: 900px) {
  .relatedLyrics {
    width: 100%; /* On smaller screens, make it full width */
    position: relative; /* No sticky behavior on smaller screens */
    max-height: unset;
    overflow-y: unset;
    margin-top: 30px;
  }
}