.backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.backToTop:hover {
  background-color: #c33323;
}

.backToTop.show {
  opacity: 1;
  visibility: visible;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  color: white;
}
