.modaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); /* Dark semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalcontent {
    background: linear-gradient(135deg, #ff5f6d, #ffc371); /* Gradient background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(237, 237, 255, 3.9); /* Add shadow */
    text-align: center;
    color: #fff; /* White text */
    animation: slideDown 0.5s ease-out; /* Slide down animation */
  }
  
  .modalcontent h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .modalcontent p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;

  }
  
  .modalcontent button {
    background-color: #fff;
    color: #ff5f6d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .modalcontent button:hover {
    background-color: #ffc371;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  