/* globals.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;
  }
  
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  